body{
    margin: 0;
    font-family: sans-serif;
    background-color: #999;
}
.cajapad{
    height: 400px;
    width: 100%;
    position: relative;
    background-color: #777;

}
.box{
    height: 100px;
    width: 100%;
    background-color: #0008;
    position: fixed;
    top: 0;
    color: aliceblue;
}
.box-fixed{
    height: 80px;
    width: 400px;
    background-color: #841;
    position: sticky;
    top: 100px;
}
.divCualquiera{
    height: 100px;
    width: 600px;
    background-color: #841;
}